#snapmap__infobox {
  display: block;
  width: 150px;
  float: right;
  border: 0px solid black;
  padding: 10px;
  border-radius: 8px;
  border-style: solid;
  border-width: thin;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
}

#snapmap__legend {
  display: block;
  width: 310px;
  border: 0px solid black;
  padding: 10px;
  border-radius: 8px;
  border-style: solid;
  border-width: thin;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
}

#snapmap__legend--label {
  font-weight: bold;
}

#snapmap__legend--gradient {
  background: linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  border-style: solid;
  border-width: thin;
  float: left;
  height: 20px;
  width: 250px;
}

#snapmap__legend--minimum {
  float: left;
  width: 25px;
}

#snapmap__legend--maximum {
  float: right;
  width: 25px;
}
